.option {
  background-color: #6cc357;
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #6cc357;
  border-radius: 10px;
}

.option h1 {
  margin: 0;
  font-size: 2em;
}

.option nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.option nav ul li {
  cursor: pointer;
  font-size: 1.2em;
}

.li-my {
  text-decoration: none;
  color: white;
}